*{
    font-family: Arial, Helvetica, sans-serif;
}
.holis{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: aqua;
border: solid 3px;
border-radius: 10px;
}
.a{
background-color: aqua;

}
.e{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background-color: aqua;
}
.uno{
color: aqua;
text-align: justify;
}
.dos{
color: aqua;
text-align: justify;
}
.tres{
color: aqua;
text-align: justify;
}
.cuadro{
color: aqua;
text-align: justify;
}
.cinco{
color: aqua;
text-align: justify;
}
.seis{
color: aqua;
text-align: justify;
}
.beneficios{
color: azure;
text-align: center;
}
.q{
color: aqua;
text-align: justify;
}
.wuao{
background-color: black;
border: solid 3px;
border-color: aqua;
border-radius: 10px;
text-align: justify;
}