@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: rgb(10, 10, 20);
font-family: 'Montserrat', sans-serif;  
line-height: 1.5;
}
a{
text-decoration: none;
color: white;
}
header{
display: flex;
height: 70px;
justify-content: space-between;
align-items: center;
padding: 10px;
position: relative;
top: -10px;
}
.enca{
    display: flex;
    align-items: center;
    }
    nav a{
    font-weight: 600;
    padding-right: 15px;
    }
    .eje{
    position: relative;
    left: -830px;
    top: 22px;
    font-size: 18px;
    }
    h2{
    padding-right: 15px;
    font-weight: 900;
    color: rgb(0, 110, 255);
    position: relative;
    top: 5px;
    left: 490px;
    font-size: 42px;
    }
    .beza{
    display: flex;
    align-items: center;
    font-weight: 900;
    }
    .j{
    font-size: 18px;
    position: relative;
    top: -5px;
    left: 5px;
    }
.navbar{
display: flex;
justify-content: center;
background-color: rgb(0, 110, 255);
font-weight: 900px;
position: relative;
top: -10px;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
position: relative;
top: 500px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(0, 110, 255);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.eco{
color: gray;
font-size: 40px;
font-weight: 700;
position: relative;
left: 100px;
top: 100px;
}
.z{
position: relative;
left: 100px;
top: 130px;
}
.z h3{
font-size: 21px;
}
.x{
position: relative;
top: -365px;
left: 900px;
}
.c{
    position: relative;
    top: -365px;
    left: 900px;
}
.v{
    position: relative;
    top: -350px;
    left: 100px;
}
.b{
    position: relative;
    top: -638px;
    left: 360px;
}
.n{
    position: relative;
    top: -900px;
    left: 625px;
}
.m{
    position: relative;
    top: -1160px;
    left: 900px;
}